## Problem 4 (*optional*) - Parsing daily temperatures

**This is an optional task for those who want more practice.**

This problem is more challenging as we provide only minimal instructions for completing the given tasks. You will need to search through the pandas documentation (and other resources) for help. We will cover data aggregation in more detail during Lesson 6, so this is a good opportunity to get a head start for next week!

In this problem, the aim is to aggregate the hourly temperature data for Helsinki Kumpula and Rovaniemi weather stations to the daily level. Currently, there are (at most) 3 measurements per hour in the data as you can see from the `YR--MODAHRMN` column (Year-Month-Day-Hour-Minute in Greenwich Mean Time (GMT):

```
    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius
0  28450  201705010000  31.0  NaN  NaN       -1
1  28450  201705010020  30.0  NaN  NaN       -1
2  28450  201705010050  30.0  NaN  NaN       -1
3  28450  201705010100  31.0  NaN  NaN       -1
4  28450  201705010120  30.0  NaN  NaN       -1
```

The output should contain mean, max, and min Celsius temperatures for each day (for example, one mean temperature value for the 1st of May and so on).

### What to do

- Your task is to summarize the information for each day by aggregating (grouping) the DataFrame.
- The output should be a new DataFrame where you have calculated the mean, max, and min Celsius temperatures for each day separately based on hourly values.
- Repeat the task for the two data sets you created in Problem 2 (May-August temperatures from Rovaniemi and Kumpula).

Don't forget to:

- Include useful comments in your code
- Push your solution to GitHub

### Hint

You can find help from the [Pandas Official documentation](https://pandas.pydata.org/pandas-docs/stable/) and Google. Don't hestiate to ask for tips in Slack!

In [6]:
# YOUR CODE HERE
import pandas as pd
data = pd.read_csv("/home/caro/Documents/curso_geopython/Exercise-5/data/6153237444115dat.csv",na_values=['*', '**', '***', '****', '*****', '******'])
selected = data[["USAF","YR--MODAHRMN","TEMP","MAX","MIN"]]
selected = selected.dropna(axis=0,how='any',subset="TEMP")
selected["Celsius"]=0
for i, row in selected.iterrows():
    selected.at[i,"Celsius"] = int(round((selected.loc[i,"TEMP"]-32)/1.8))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f6cdf371090>

In [30]:
selected["DAY"]=0
selected["DAY"]=str(selected["YR--MODAHRMN"])

In [31]:
selected.head()

    USAF  YR--MODAHRMN  TEMP  MAX  MIN  Celsius  DAY
0  28450  201705010000  31.0  NaN  NaN       -1    0
1  28450  201705010020  30.0  NaN  NaN       -1    0
2  28450  201705010050  30.0  NaN  NaN       -1    0
3  28450  201705010100  31.0  NaN  NaN       -1    0
4  28450  201705010120  30.0  NaN  NaN       -1    0

In [32]:
selected.dtypes

USAF              int64
YR--MODAHRMN      int64
TEMP            float64
MAX             float64
MIN             float64
Celsius           int64
DAY               int64
dtype: object